p{
    background-color: aquamarine;
}

a{
    background-color: rgb(216, 151, 151);
}

div{
    background-color: beige;
}

span{
    background-color: blueviolet;
}

a{
    background-color: burlywood;
}