*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: aqua;
}

.box1{
    color: yellow;
    border: 2px solid blue;
    padding: 10px;
    margin: 25px;
    height: 200px;
    box-sizing: border-box;
    
}

.box2{
    color: red;
    border: 2px solid green;
    padding: 10px;
    margin: 50px;
    height: 200px;
    box-sizing: border-box;
}